


<script src="~/Scripts/jquery-2.1.1.min.js"></script>  

<div style="width:100%">
    <div id="left" style="float:left;width:30%;">
        <table>
            <tr>
                <td>
                    <h1>Employee List</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="divleft">
                        <ul id="EmployeeList"></ul>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="left" style="float:left;width:70%;">
        <table>
            <tr>
                <td>
                    <h1>Selected Employee</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="divright">
                        <ul id="selectedEmployeeList"></ul>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
       <style type="text/css">
   table, td {
     background-color: mediumaquamarine;
     border: ridge;
   }
   #divleft,#divright {
     background-color: mediumaquamarine;
     height: 150px;
     width: 150px;
     font-family: Arial;
   }
 </style> 
<script type="text/javascript">

     $(document).ready(function () {
         // debugger;
         loadEmployee();
         //Function to set events for Drag-Drop
         function setEvents() {
             var EmployeeList = $('li');
             //Set Drag on Each 'li' in the Employeelist
             $.each(EmployeeList, function (idx, val) {
                 $('li').on('dragstart', function (evt) {
                     evt.originalEvent.dataTransfer.setData("Value", evt.target.textContent);
                     evt.originalEvent.dataTransfer.setData("Text", evt.target.id);
                     //evt.originalEvent.dataTransfer.setData("Text", this.id);
                     evt.target.draggable = false;
                 });
             });
             //Set the Drop on the <div>
             $("#divright").on('drop', function (evt) {
                 evt.preventDefault();
                 debugger;
                 var data = evt.originalEvent.dataTransfer.getData("Value");
                 var value = evt.originalEvent.dataTransfer.getData("Text");
                 var lst = $("#selectedEmployeeList");
                 var li = "<li id=" + value + ">" + value + " " + data + "</li>";
                 li.textContent = data;
                 lst.append(li);
             });
             //The dragover
             $("#divright").on('dragover', function (evt) {
                 evt.preventDefault();
             });
         }
         ///Function to load Employee using call to WEB API
         function loadEmployee() {
             var items = "kjkjkljlj";
             var Id = "1";

             $("#EmployeeList").html(items);
             setEvents();
             $.ajax({
                 url: "/Play",
                 type: "GET"
             }).done(function (resp) {
                 $.each(resp, function (idx, val) {
                     items += "<li id=" + val.EmployeeId + " draggable='true'>" + val.NameAnimal + "</li>";
                 });
                 $("#EmployeeList").html(items);
                 //$("#hdnID").html(Id);
                 setEvents();
             }).error(function (err) {
                 alert("Error! " + err.status);
             });
         }
     });
</script>  