<div class="jumbotron" style="background-color:white; opacity: 0.8;">
    <div class="jumbotron" style="background-color:white; opacity: 1;">

        <div class="panel panel-primary">
            <div class="panel-heading" style="text-align-last:center">DIORAMAS DEL ECUADOR</div>
            <div class="panel-body">
                <div class="row">
                    <table style="width:100%; opacity: 1;text-align:center">
                        <tr>
                            <td>
                                <a href="http://localhost:51628/Play/Manglar">
                                    <img src="@Url.Content("~/Images/manglar.png")" style="height:30vh; width:60vh" class="img-fluid" alt="Responsive image" />
                                </a>
                                <a href="http://localhost:51628/Play/Manglar" class="btn btn-primary btn-lg" style="width:60vh">MANGLAR</a>
                            </td>
                            <td>
                                <a href="http://localhost:51628/Play/Chimborazo">
                                    <img src="@Url.Content("~/Images/chimborazo.png")" style="height:30vh; width:60vh" class="img-fluid" alt="Responsive image" />
                                </a>
                                <a href="http://localhost:51628/Play/Chimborazo" class="btn btn-primary btn-lg" style="width:60vh">CHIMBORAZO</a>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <a href="http://localhost:51628/Play/Cuyabeno">
                                    <img src="@Url.Content("~/Images/rio.png")" style="height:30vh; width:60vh" class="img-fluid" alt="Responsive image" />
                                </a>
                                <a href="http://localhost:51628/Play/Cuyabeno" class="btn btn-primary btn-lg" style="width:60vh">CUYABENO</a>
                            </td>
                            <td>
                                <a href="http://localhost:51628/Play/Mataje">
                                    <img src="@Url.Content("~/Images/mataje2.png")" style="height:30vh; width:60vh" class="img-fluid" alt="Responsive image" />
                                </a>
                                <a href="http://localhost:51628/Play/Mataje" class="btn btn-primary btn-lg" style="width:60vh">MATAJE</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <center>
         <a id="bh" href="http://localhost:51628/" class="btn btn-primary btn-lg">REGRESAR</a>
    </center>
</div>