
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE HTML>
<html>
<head>
    <style>
        #div1 {
            width: 600px;
            height: 375px;
            padding: 10px;
            text-align: center;
        }
       
    </style>
    <script>
        function allowDrop(ev) {
            ev.preventDefault();
          

            var img = document.createElement("img");
            var data = ev.dataTransfer.getData("text");
            if (data == "drag2") {
                img.src = "/Images/";
                ev.target.appendChild(img);
            } else {
                img.src = "/Images/tucan_mataje.png";
                ev.target.appendChild(img);
            }
           
        }

        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            if (data == "drag2") {

                var img = document.createElement("img");
                ev.target.appendChild(document.getElementById("drag2"));
               
            } else if (data == "drag1") {
                ev.target.appendChild(document.getElementById("drag1"));
            }
           
        }
        function erase(ev) {
            document.getElementById("div1").innerHTML = "";
        }
    </script>
</head>
<body>
    <div class="jumbotron" style="background-color:white; opacity: 0.8;">




        <br>
        <p>ECOSISTEMA MATAJE</p>
        <table class="egt">



            <tr>
                <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)"><img id="drag1" src="~/Images/mataje2.png" ondragover="erase(event)"></div>
                 <td>La reserva protege los manglares que crecen en el estuario que forman los ríos Cayapas y Mataje en el norte de la provincia de Esmeraldas; al hacerlo, custodia tanto la gran biodiversidad que existe como las tradiciones milenarias de las comunidades y pueblos ancestrales aledaños</td>



            </tr>

            <tr>
                <td><img id="drag1" src="~/Images/tucan3.png" draggable="true" ondragstart="drag(event)"></td>

                <td><img id="drag2" src="~/Images/sahino.png" draggable="true" ondragstart="drag(event)"></td>






            </tr>

        </table>
        </div>




</body>
</html>