@model EcoGame.FilterConfig

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .caja1 {
        width: 250px;
        height: 200px;
        background: #FCE8CC;
        margin: 5px;
        float: left;
        text-align: justify;
    }

    article {
        margin-left: 100px;
    }

    #bh {
        margin-left: 500px;
    }
</style>
<article>
    <div class="caja1">
        <img id="img1" src="~/Images/1.png" width="250" align="left" height="200" />
    </div>
    <div class="caja1">
        <img id="img2" src="~/Images/2.png" width="250" align="left" height="200" />
    </div>
    <div class="caja1">
        <img id="img3" src="~/Images/3.png" width="250" align="left" height="200" />
    </div>
    <div class="caja1">
        <img id="img4" src="~/Images/4.png" width="250" align="left" height="200" />
    </div>
    <div class="caja1">
        <img id="img5" src="~/Images/5.png" width="250" align="left" height="200" />
    </div>
    <div class="caja1">
        <img id="img6" src="~/Images/osi.png" width="250" align="left" height="200" />
    </div>
    <div class="caja1">
        <img id="img7" src="~/Images/4.png" width="250" align="left" height="200" />
    </div>
    <div class="caja1">
        <img id="img8" src="~/Images/5.png" width="250" align="left" height="200" />
    </div>
    <div class="caja1">
        <img id="img9" src="~/Images/osi.png" width="250" align="left" height="200" />
    </div>
    <div class="caja1">
        <img id="img10" src="~/Images/4.png" width="250" align="left" height="200" />
    </div>
    <div class="caja1">
        <img id="img11" src="~/Images/5.png" width="250" align="left" height="200" />
    </div>
    <div class="caja1">
        <img id="img12" src="~/Images/osi.png" width="250" align="left" height="200" />
    </div>
</article>
<br />
<br />
<a id="bh" href="#" class="btn btn-primary btn-lg">JUEGAR DE NUEVO</a>
<script>
    $("#img1").on("click", function () {

    });
</script>




