@model EcoGame.FilterConfig

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<style>
    .caja1 {
        width: 250px;
        height: 200px;
        background: #FCE8CC;
        margin:5px;
        float: left;
     }

</style>
<center>
    <article>
        <div class="caja1">
            <img id="img1" src="~/Images/1.jpg" width="250" height="200" />
        </div>
        <div class="caja1">
            <img id="img2" src="~/Images/2.jpg" width="250" height="200" />
        </div>
        <div class="caja1">
            <img id="img3" src="~/Images/3.jpg" width="250" height="200" />
        </div>
        <div class="caja1">
            <img id="img4" src="~/Images/4.jpg" width="250" height="200" />
        </div>
        <div class="caja1">
            <img id="img5" src="~/Images/5.jpg" width="250" height="200" />
        </div>
        <div class="caja1">
            <img id="img6" src="~/Images/6.jpg" width="250" height="200" />
        </div>
        <div class="caja1">
            <img id="img7" src="~/Images/7.jpg" width="250" height="200" />
        </div>
        <div class="caja1">
            <img id="img8" src="~/Images/8.jpg" width="250" height="200" />
        </div>
        <div class="caja1">
            <img id="img9" src="~/Images/9.jpg" width="250" height="200" />
        </div>
        <div class="caja1">
            <img id="img10" src="~/Images/10.jpg" width="250" height="200" />
        </div>
        <div class="caja1">
            <img id="img11" src="~/Images/11.jpg" width="250" height="200" />
        </div>
        <div class="caja1">
            <img id="img12" src="~/Images/12.jpg" width="250" height="200" onclick="sonido.play()"/>
            <audio id="sonido" src="~/Sonidos/SummerParadise.mp3"></audio>
        </div>
    </article>
    <br />
    <br />

    <a id="bh" href="#" class="btn btn-primary btn-lg">JUEGAR DE NUEVO</a>
</center>
<script>
    $(document).ready(function () {
        var sonido = document.getElementById("sonido");
    });

    var myArray = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'];

    $("#bh").on("click", function () {

        var i, j, k;
        for (i = myArray.length; i; i--) {
            j = Math.floor(Math.random() * i);
            k = myArray[i - 1];
            myArray[i - 1] = myArray[j];
            myArray[j] = k;
        }
        var h;
        for (h = 0; h < myArray.length; h++)
        {
            var url = "/Images/" + myArray[h] + ".jpg";
            console.log(url);

            $("#img" + (h + 1)).attr("src", url);

                
        }
    });
</script>




