<div class="jumbotron" style="background-color:white; opacity: 0.8;">
    @{
        ViewBag.Title = "About";
    }
    <h2>EcoGame</h2>
    <h3>Proyecto: Aplicaciones Web</h3>
    <p>Este proyecto se realizó como requisito previo a la aprobación de la materia, llevado 
    a cabo por estudiantes de 7mo y 8vo semestre de la carrera de Ingeniería en Sistemas 
    informáticos y de Computación de la Escuela Politécnica Nacional. </p>
    <p>Este proyeco llmado "EcoGame" quiere ayudar en el aprendizaje de los niños sobre la 
    flora y fauna del Ecuador de manera interactiva y didáctica</p>
</div>